<div class="container_big-card">
    <div class="img_big-card">
        <img src="https://cdn.pixabay.com/photo/2016/02/01/00/56/news-1172463_1280.jpg" alt="" id="img-big-card">
    </div>
    <div class="title_big-card">
        <h2>Título de uma notícia que é muito grande e ocupa mais de uma linha.</h2>
    </div>
    <div class="description_big-card">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>