*{
 margin: 0;
}

.container_small-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

img{
    max-width: 200px;
}

.small-card{
    display: flex;
    margin: 0;
    gap: 1rem;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text > p{
    color: gray;
    text-align: justify;
    max-width: 90%;
}

