

<app-content-post
img="https://cdn.pixabay.com/photo/2016/11/23/15/49/bundle-1853667_1280.jpg"
title="Notícia"
description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in finibus risus, gravida finibus elit. Praesent eleifend lectus urna, eu ultrices massa sagittis non. Sed non elit in ipsum maximus tempor. Maecenas eros augue, eleifend sit amet neque a, rhoncus sollicitudin justo. Integer diam quam, gravida sit amet mi id, varius tincidunt elit. Maecenas felis dolor, hendrerit at est sit amet, pretium porta libero. Cras ut est eu ante ultrices egestas nec vel risus. Pellentesque pharetra imperdiet lectus, non ullamcorper nibh interdum ac. Integer porta dictum nisi, eu luctus lacus venenatis quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque hendrerit dolor ac sapien dictum lacinia. Morbi interdum sodales orci eget viverra. Pellentesque sed viverra velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris tempor nunc sem, in mattis augue aliquet et. Cras eu ultrices risus.">
</app-content-post>
