<section class="content">
    <div class="big-card">
        <app-big-card 
        id="1"
        [img]="'https://cdn.pixabay.com/photo/2016/02/01/00/56/news-1172463_1280.jpg'" 
        [title]="'Título de uma notícia que é muito grande e ocupa mais de uma linha.'"
        [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'">
        </app-big-card>
    </div>
    <div class="small-cards">
        <app-small-card
        id='2'
        [img]="'https://static.escolakids.uol.com.br/conteudo_legenda/9ef44f561fdf5ff715e219351d6209aa.jpg'"
        [title]="'Título de uma das notícias'"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
        </app-small-card>
        <div class="broke">
            <hr>
        </div>
        <app-small-card
        id="3"
        [img]="'https://cdn.pixabay.com/photo/2016/11/23/15/49/bundle-1853667_1280.jpg'"
        [title]="'Título de uma das notícias'"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
        </app-small-card>
        <div class="broke">
            <hr>
        </div>
        <app-small-card
        id="4"
        [img]="'https://cdn.pixabay.com/photo/2014/08/10/18/06/beers-414914_1280.jpg'"
        [title]="'Título de uma das notícias'"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
        </app-small-card> 
    </div>
</section>
<hr>
