.container-nav{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container-nav > ul > li > a{
    text-decoration: none;
}

.container-nav > ul{
    display: flex;
    flex-direction: row;
}

.container-nav > ul > li{
    list-style: none;
    margin-right: 2rem;
}